@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About:</h1>
    <p>Name: Florian, Teetz</p>
    <p>Telephone: +49 1517 0075402 => Bitte nur in Notfällen anrufen.</p>
</div>

