@{
    ViewData["Title"] = "Home Page";
}


<div class="SlideShowContainer">
    @using (Html.))
    {
        <input type="submit" name="submit" value="Test" />
    }
    <button action="@ShowNextImg" ></button>
    
</div>

@functions {
   
    
}